*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #11224E;
}
.cart {
    width: 100%;
    padding: 20px;
    background-color: #f7f3f3;
    border-radius: 10px;
}
.cart img {
    width: 100%;
    height: 200px;
    
}
.cart :hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.title {
    font-size: 18px;
    color: rgb(75, 64, 64);
    margin-top: 10px;
}
.btn {
    background-color: #11224E;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon {
    width: 20px;
    height: 20px;
}
.Product-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    margin: 100px auto;
}

.Nav {
    width: 100%;
    height: 60px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: auto;
    z-index: 1;
}
.Nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}
.Nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px; 
}
.Nav-logo img {
    height: 40px;
}
.Nav-btn {
    display: flex;
    gap: 10px;
}
.btn-login {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00ff15;
    border: none;
}
.btn-login a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.btn-signup {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
}
.btn-signup a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
